////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//  Repo:           terraform/gcp
//  File Name:      terraform.tfvars
//  Author:         Patrick Gryzan
//  Company:        Hashicorp
//  Date:           April 2021
//  Description:    This is the overriding sensitive variables file for the terraform project
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  GCP Credentials
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
gcp             = {
    credentials = <<EOF
<your gcp credentials here>
EOF
    project     = ""
    region      = ""
    zone        = ""
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  SSH Credentials
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
ssh             = {
    username    = ""
    private_key = <<EOF
<your ssh private key here>
    EOF
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  Global Project Information
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
info                = {
    name            = "hashicups"
    contact         = "pgryzan@hashicorp.com"
    group           = "solutions engineering"
    ttl             = 8
    username        = "hashistack"
    password        = "Passw0rd!"
    consul_license  = ""
    nomad_license   = ""
    vault_license   = ""
    datacenter      = "demo"
    region          = "us-east"
    repo_url        = "https://github.com/hashicorp/field-demos-nomad-land-team-footloose-wanderers-assets.git"
}